/* accounts / session styling */
#logout {
  display: none;
}

#google-signin {
  margin-top: 20px;
}

#google-signin img {
  cursor: pointer;
}

#google-signin strong {
  display: block;
  margin-bottom: 20px;
}

/* chat styling */
#chat textarea {
  width: 100%;
  resize: none;
}

#chat-messages ul {
  list-style: none;
  padding-left: 10px;
}

#chat-messages {
  overflow-y: auto;
}

#send-chat {
  float: right;
}

/* game list styling */
#games ul {
  list-style: none;
  padding-left: 10px;
}

/* camera dialog */
#game-cam {
  width: 680px;
}

#cam {
  background: darkgray;
  width: 640px;
  height: 480px;
  margin: 0 auto;
}

#cam-progress {
  width: 644px;
  display: none;
}

/* game results display */
#game .image-wrapper {
  padding: 10px;
}

#game .face {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#game .emotion {
  height: 60px;
  text-align: center;
}

#result-emoction {
  font-size: 30px;
  text-align: center;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#pose-video {
  transform: scaleX(-1);
}

#pose-result {
  font-size: 100px;
  text-align: right;
  padding: 20px 30px 0 0;
}

#preview-dialog {
  width:688px;
}

.detected-gesture {
  font-size: 68pt;
  position: absolute;
  margin-left: 65%;
  margin-top: 10%;
}